*.DS_Store*
dist/*
*.egg-info/*
*.idea/*
*.ipynb
*.pyc
*mainenv*
.coverage
.python-version
.vscode
venv*
build/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
